body{
        padding: 0;
        margin: 0;
        font-family: 'Poppins', sans-serif;   
        text-align: justify;
        text-justify: inter-word;
    }
nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-bottom: 5px solid #6f6f6f;

}
nav h1{
    color: #717171;
    font-family:  'Poppins', sans-serif;  
    font-size: 30px; 

}
nav .onglets {
    margin-top: 3px;
    margin-left: 300px;
}
nav .onglets a{
    text-decoration: none;
    color: #000; 
    margin-right: 10px;
    border-bottom: 1px solid #000;
    padding-bottom: 5px;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center; 
    background-color: #000;
    background-size: cover;
    color: #fff; 
    padding: 40px; 
}

